<!DOCTYPE html>
<html lang="en">

<head>
    <title>Locusnine Dev Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/layout.js"></script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        .center-content {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .full-height {
            height: 89%;
            background: yellow;
        }

        .navbar-dark .navbar-nav>li.active>a>span {
            color: orange;
        }

        .navbar-dark .navbar-nav>li.active>a>svg>g>g {
            stroke: orange;
        }


        .iconText {
            vertical-align: middle;
            display: inline-block;
            margin-left: 5px;
        }

        .icon {
            vertical-align: middle;
            display: inline-block;
            margin-left: 50px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="/images/Logo.svg" alt="logo" style="width:100%;">
        </a>

        <!-- Links -->
        <ul id="main-menu" class="nav navbar-nav  mr-auto">
            <li class="active nav-item">
                <a class="nav-link" onclick='loadDashboard()'>


                    <svg width="24px" height="24px" viewBox="0 0 24 24" class="icon" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>dashboard</title>
                        <desc>Created with Sketch.</desc>
                        <g id="dashboard_logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="06-Accops-User-Listing" transform="translate(-211.000000, -23.000000)"
                                stroke="#FFFFFF">
                                <g id="Menu" transform="translate(211.000000, 15.000000)">
                                    <g id="dashboard" transform="translate(0.000000, 8.000000)">
                                        <rect id="Rectangle" x="0.5" y="0.5" width="11" height="14"></rect>
                                        <rect id="Rectangle-Copy-2" x="13.5" y="9.5" width="10" height="14"></rect>
                                        <rect id="Rectangle" x="13.5" y="0.5" width="10" height="7"></rect>
                                        <rect id="Rectangle-Copy" x="0.5" y="16.5" width="11" height="7"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span class="iconText">Dashboard</span>



                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick='loadUsers()'>

                    <svg width="24px" height="24px" class="icon" viewBox="0 0 34 32" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                        <title>user</title>
                        <desc>Created with Sketch.</desc>
                        <g id="Developer-Test" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="06-Accops-User-Listing" stroke="white"
                                transform="translate(-82.000000, -126.000000)">
                                <path
                                    d="M106.772382,135.751236 C108.214821,134.799995 109.169292,133.166661 109.169292,131.313049 C109.169292,128.383573 106.785719,126 103.855931,126 C100.926559,126 98.5429857,128.383573 98.5429857,131.313049 C98.5429857,133.164577 99.4957897,134.797181 100.935937,135.748422 C99.584568,136.106245 98.3077023,136.714668 97.1566059,137.556812 C97.0650142,137.624021 96.9925953,137.707902 96.9396617,137.801056 C95.9941518,136.935363 94.7356253,136.40582 93.3553933,136.40582 C90.4256045,136.40582 88.0424484,138.789392 88.0424484,141.718764 C88.0424484,143.612702 89.038808,145.276983 90.5345976,146.218116 C85.633555,147.475809 82,151.930772 82,157.218501 C82,157.649888 82.3501117,158 82.7814993,158 C83.2134079,158 83.5629986,157.649888 83.5629986,157.218501 C83.5629986,151.819174 87.9560667,147.426523 93.3553933,147.426523 C98.7546157,147.426523 103.147267,151.819174 103.147267,157.218501 C103.147267,157.649888 103.497379,158 103.928766,158 C104.360258,158 104.710266,157.649888 104.710266,157.218501 C104.710266,151.930772 101.077127,147.475809 96.1760848,146.218116 C98.6610442,144.654701 99.4058652,141.398037 97.8725635,138.92652 C97.9450866,138.90172 98.015109,138.865875 98.0798171,138.818256 C99.7645212,137.585363 101.761825,136.933696 103.855931,136.933696 C109.255674,136.933696 113.648325,141.326348 113.648325,146.725987 C113.648325,147.157479 113.998333,147.507486 114.429825,147.507486 C114.861212,147.507486 115.211324,147.157479 115.211324,146.725987 C115.211324,141.47254 111.624972,137.041543 106.772382,135.751236 Z M93.3553933,145.469128 C91.2872336,145.469128 89.6050303,143.78682 89.6050303,141.718764 C89.6050303,139.651021 91.2872336,137.968818 93.3553933,137.968818 C95.4231363,137.968818 97.1053396,139.651021 97.1053396,141.718764 C97.1053396,143.78682 95.4231363,145.469128 93.3553933,145.469128 Z M103.855931,127.562999 C105.92409,127.562999 107.606294,129.245306 107.606294,131.313049 C107.606294,133.380688 105.92409,135.062999 103.855931,135.062999 C101.788188,135.062999 100.105984,133.380688 100.105984,131.313049 C100.105984,129.245306 101.788188,127.562999 103.855931,127.562999 Z"
                                    id="user"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="iconText">Users</span>



                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">

                    <svg width="24px" height="24px" class="icon" viewBox="0 0 24 24" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                        <title>gear</title>
                        <desc>Created with Sketch.</desc>
                        <g id="Developer-Test" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="06-Accops-User-Listing" transform="translate(-500.000000, -23.000000)"
                                fill="#FFFFFF">
                                <g id="Menu" transform="translate(211.000000, 15.000000)">
                                    <g id="gear" transform="translate(289.000000, 8.000000)">
                                        <path
                                            d="M23.4787857,9.7305 L20.5150714,9.4255 C20.3465714,8.86721429 20.125,8.332 19.8537857,7.827 L21.7382857,5.50392857 C21.911,5.29071429 21.8947857,4.98185714 21.7008571,4.78792857 L19.2277143,2.315 C19.0335,2.12078571 18.7243571,2.1055 18.5114286,2.27842857 L16.1877857,4.16464286 C15.6810714,3.89285714 15.1459286,3.67464286 14.5895714,3.50642857 L14.2845714,0.536857143 C14.2567143,0.263428571 14.0265,0.0683571429 13.7516429,0.0683571429 L13.7511429,0.0683571429 L10.2516429,0.0591428571 C9.97742857,0.0594285714 9.7475,0.254214286 9.71928571,0.527071429 L9.41128571,3.49971429 C8.85292857,3.6685 8.3175,3.88978571 7.8125,4.161 L5.48942857,2.27678571 C5.27621429,2.10407143 4.96735714,2.12028571 4.77314286,2.31414286 L2.30021429,4.78735714 C2.10628571,4.98128571 2.09092857,5.29042857 2.26364286,5.50364286 L4.14957143,7.82728571 C3.87778571,8.33428571 3.65928571,8.86942857 3.49107143,9.42607143 L0.524,9.73378571 C0.250857143,9.76228571 0.055,9.99221429 0.055,10.2667143 L0.055,13.7628571 C0.055,14.0373571 0.250857143,14.2675714 0.524,14.2957857 L3.48521429,14.6037857 C3.65342857,15.1598571 3.875,15.6952857 4.14678571,16.2022857 L2.26228571,18.5256429 C2.08957143,18.7388571 2.1055,19.048 2.29964286,19.2419286 L4.77285714,21.7151429 C4.96678571,21.9090714 5.27592857,21.9246429 5.48914286,21.7519286 L7.81221429,19.8669286 C8.3175,20.1381429 8.85292857,20.3577143 9.41128571,20.5265 L9.71928571,23.4960714 C9.7475,23.769 9.97742857,23.9701429 10.2516429,23.9704286 L13.7511429,23.9612143 L13.7516429,23.9612143 C14.0265,23.9612143 14.2567143,23.7659286 14.2845714,23.4927143 L14.5895714,20.5295714 C15.1459286,20.3613571 15.6810714,20.1397857 16.1877857,19.8682857 L18.5111429,21.7525 C18.7240714,21.9255 19.0332143,21.9092857 19.2271429,21.7154286 L21.7000714,19.2422143 C21.8942857,19.048 21.9092857,18.7388571 21.7365714,18.5259286 L19.851,16.2025714 C20.1222143,15.6975714 20.3404286,15.1623571 20.5089286,14.6040714 L23.4787857,14.2991429 C23.7522143,14.2712143 23.9478571,14.041 23.9478571,13.7662143 L23.9478571,10.2634286 C23.9478571,9.98857143 23.7522143,9.75835714 23.4787857,9.7305 Z M22.8764286,13.2826429 L20.0307143,13.5753571 C19.8077857,13.5982143 19.6345,13.7577857 19.5787143,13.9751429 C19.3947857,14.6905714 19.1152143,15.3657857 18.7477857,15.9824286 C18.6327857,16.1755 18.6503571,16.4196429 18.7918571,16.594 L20.6018571,18.8258571 L18.8113571,20.6166429 L16.5795,18.8066429 C16.4054286,18.6651429 16.1615714,18.6472857 15.9685,18.762 C15.3479286,19.1308571 14.6724286,19.4104286 13.9606429,19.5932143 C13.7432857,19.649 13.5837143,19.8342857 13.5608571,20.0575 L13.2681429,22.9146429 L10.7352143,22.9121429 L10.4394286,20.0569286 C10.4165714,19.834 10.257,19.649 10.0399286,19.5932143 C9.32478571,19.4095714 8.64928571,19.13 8.03264286,18.7625714 C7.83985714,18.6472857 7.59571429,18.6649286 7.42107143,18.8066429 L5.18942857,20.6166429 L3.39928571,18.8258571 L5.20985714,16.594 C5.35128571,16.4199286 5.37057143,16.1760714 5.25585714,15.9832857 C4.887,15.3621429 4.61021429,14.6866429 4.42771429,13.9751429 C4.37192857,13.7580714 4.1925,13.5987857 3.96957143,13.5756429 L1.12642857,13.2798571 L1.12642857,10.75 L3.96957143,10.4542143 C4.1925,10.4310714 4.36607143,10.2717857 4.42185714,10.0547143 C4.60464286,9.34292857 4.88421429,8.66742857 5.25307143,8.04657143 C5.3675,7.85378571 5.34985714,7.60992857 5.20842857,7.43557143 L3.39842857,5.20371429 L5.18914286,3.41321429 L7.42107143,5.22321429 C7.59542857,5.36464286 7.83957143,5.38228571 8.03264286,5.26728571 C8.64928571,4.89985714 9.32478571,4.62028571 10.0399286,4.43664286 C10.257,4.38085714 10.4162857,4.19585714 10.4394286,3.97292857 L10.7352143,1.1175 L13.2681429,1.11521429 L13.5608571,3.97235714 C13.5837143,4.19557143 13.743,4.38085714 13.9603571,4.43664286 C14.6718571,4.61942857 15.3476429,4.899 15.9685,5.26785714 C16.1612857,5.3825 16.4051429,5.36464286 16.5792143,5.22321429 L18.8108571,3.41321429 L20.601,5.20371429 L18.7901429,7.43557143 C18.6487143,7.61021429 18.6297143,7.85435714 18.7447143,8.04742857 C19.1121429,8.66378571 19.3886429,9.33928571 19.5722857,10.0547143 C19.6280714,10.2720714 19.8075,10.4313571 20.0307143,10.4542143 L22.8764286,10.7469286 L22.8764286,13.2826429 Z"
                                            id="Fill-1"></path>
                                        <path
                                            d="M10.6135714,8.88057143 C9.84821429,9.64592857 9.84821429,10.8909286 10.6135714,11.6562857 C11.2360714,12.2787143 12.0052857,12.2302143 12,12.2290714 C12.5248571,12.2290714 13.0178571,12.0253571 13.3878571,11.6551429 C14.1526429,10.8903571 14.1526429,9.64621429 13.3878571,8.88171429 C12.6235714,8.11721429 11.3794286,8.11464286 10.6135714,8.88057143 Z M12.6305714,10.8975714 C12.2832143,11.2447143 11.7170714,11.2444286 11.3710714,10.8984286 C11.0237143,10.5510714 11.0237143,9.98578571 11.3710714,9.63814286 C11.7170714,9.29242857 12.2832143,9.29214286 12.6302857,9.63921429 C12.9774286,9.98607143 12.9774286,10.5507857 12.6305714,10.8975714 Z"
                                            id="Fill-2"></path>
                                        <path
                                            d="M11.9988571,5.8895 C8.60292857,5.8895 5.87642857,8.62357143 5.87642857,12.0105714 C5.87642857,15.358 8.55107143,18.1219286 11.9988571,18.1219286 C15.4497857,18.1219286 18.125,15.3549286 18.125,12.0145 C18.125,8.61635714 15.3875714,5.8895 11.9988571,5.8895 Z M8.69728571,15.8448571 C8.697,15.8448571 8.697,15.8445714 8.69671429,15.8445714 C10.2340714,13.4277143 13.7745714,13.4422143 15.3041429,15.8437143 C13.327,17.5089286 10.5577857,17.4531429 8.69728571,15.8448571 Z M16.0535714,15.0404286 C14.0686429,12.2759286 9.93328571,12.2722857 7.94757143,15.0401429 C6.50142857,13.1062857 6.59264286,10.2700714 8.42607143,8.43664286 C10.3853571,6.47742857 13.5973571,6.45957143 15.5784286,8.44085714 C17.3867143,10.2491429 17.5197857,13.0817857 16.0535714,15.0404286 Z"
                                            id="Fill-3"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg><span class="iconText">Session Manager</span>
                    <svg width="24px" height="24px" style="display: none;" viewBox="0 0 24 24" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                        <title>user (1)</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <polygon id="path-1"
                                points="0.00350364964 0.0233576642 23.918365 0.0233576642 23.918365 23.9417226 0.00350364964 23.9417226">
                            </polygon>
                        </defs>
                        <g id="Developer-Test" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="06-Accops-User-Listing" transform="translate(-1123.000000, -23.000000)">
                                <g id="User-Info" transform="translate(1123.000000, 23.000000)">
                                    <g id="user-(1)">
                                        <mask id="mask-2" fill="white">
                                            <use xlink:href="#path-1"></use>
                                        </mask>
                                        <g id="Clip-2"></g>
                                        <path
                                            d="M20.4155912,3.52607299 C18.1567299,1.26744526 15.1535182,0.0233576642 11.9591825,0.0233576642 C8.76484672,0.0233576642 5.76140146,1.26744526 3.50271533,3.52607299 C1.24408759,5.78475912 0,8.78820438 0,11.9825401 C0,15.1768759 1.24408759,18.1800876 3.50271533,20.4389489 C5.76140146,22.697635 8.76484672,23.9417226 11.9591825,23.9417226 C15.1535182,23.9417226 18.1567299,22.697635 20.4155912,20.4389489 C22.6742774,18.1800876 23.918365,15.1768759 23.918365,11.9825401 C23.918365,8.78820438 22.6742774,5.78475912 20.4155912,3.52607299 Z M5.19024818,20.078073 C5.58528467,16.680292 8.50662774,14.0568759 11.9591825,14.0568759 C13.7792117,14.0568759 15.4906277,14.766073 16.7780438,16.0532555 C17.865635,17.1410803 18.5515328,18.5612263 18.7281168,20.0778978 C16.8941314,21.6138978 14.5328467,22.5402628 11.9591825,22.5402628 C9.38551825,22.5402628 7.02417518,21.6141314 5.19024818,20.078073 Z M11.9591825,12.6134307 C9.95643796,12.6134307 8.32689051,10.9838832 8.32689051,8.98113869 C8.32689051,6.97821898 9.95643796,5.34884672 11.9591825,5.34884672 C13.961927,5.34884672 15.5914745,6.97821898 15.5914745,8.98113869 C15.5914745,10.9838832 13.961927,12.6134307 11.9591825,12.6134307 Z M19.9343066,18.8933139 C19.5771095,17.4535474 18.8325839,16.1260146 17.7689343,15.062365 C16.9076204,14.2010511 15.8887007,13.5548613 14.7773431,13.1499562 C16.1133431,12.2439124 16.9929343,10.7133431 16.9929343,8.98113869 C16.9929343,6.20560584 14.7347153,3.94738686 11.9591825,3.94738686 C9.18364964,3.94738686 6.92543066,6.20560584 6.92543066,8.98113869 C6.92543066,10.7142774 7.80566423,12.2455474 9.14277372,13.1512993 C8.12023358,13.5237956 7.1740146,14.0999708 6.35994161,14.8584526 C5.18113869,15.9563212 4.36268613,17.3559124 3.98312409,18.8922044 C2.37547445,17.0391241 1.40145985,14.622365 1.40145985,11.9825401 C1.40145985,6.16087591 6.13751825,1.42481752 11.9591825,1.42481752 C17.7805547,1.42481752 22.5169051,6.16087591 22.5169051,11.9825401 C22.5169051,14.6230657 21.5424234,17.0402336 19.9343066,18.8933139 Z"
                                            id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <svg class="ml-3" width="22px" height="24px" viewBox="0 0 22 24" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                    <title>notification</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <polygon id="path-1"
                            points="1.03362106e-05 0.031265625 20.0008125 0.031265625 20.0008125 17.53125 1.03362106e-05 17.53125">
                        </polygon>
                    </defs>
                    <g id="Developer-Test" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="06-Accops-User-Listing" transform="translate(-1072.000000, -23.000000)">
                            <g id="notification" transform="translate(1072.000000, 23.000000)">
                                <g id="Group-3" transform="translate(0.000000, 3.468750)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <path
                                        d="M1.38342188,16.5312656 L18.6174375,16.5312656 L17.3534063,14.42625 C16.4684063,12.95025 16.0004063,11.2602656 16.0004063,9.53826563 L16.0004063,7.03125 C16.0004063,3.72225 13.3094063,1.03125 10.0004063,1.03125 C6.69140625,1.03125 4.00040625,3.72225 4.00040625,7.03125 L4.00040625,9.53826563 C4.00040625,11.2602656 3.53240625,12.95025 2.64642188,14.42625 L1.38342188,16.5312656 Z M19.5004219,17.53125 L0.5004375,17.53125 C0.3204375,17.53125 0.153421875,17.4342656 0.06440625,17.2772344 C-0.023578125,17.1212344 -0.0215625,16.92825 0.0714375,16.7742656 L1.78940625,13.9122656 C2.58140625,12.5912344 3.00042188,11.0792344 3.00042188,9.53826563 L3.00042188,7.03125 C3.00042188,3.17226563 6.14142187,0.031265625 10.0004063,0.031265625 C13.8594375,0.031265625 17.0004375,3.17226563 17.0004375,7.03125 L17.0004375,9.53826563 C17.0004375,11.0792344 17.4194063,12.5912344 18.2114062,13.9122656 L19.9294219,16.7742656 C20.0224219,16.92825 20.0244375,17.1212344 19.9364063,17.2772344 C19.8474375,17.4342656 19.6804219,17.53125 19.5004219,17.53125 L19.5004219,17.53125 Z"
                                        id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
                                </g>
                                <path
                                    d="M11.5004063,4.5 C11.2244062,4.5 11.0004375,4.27598438 11.0004375,3.99998437 L11.0004375,2.00001562 C11.0004375,1.44801562 10.5524062,0.999984375 10.0004063,0.999984375 C9.44840625,0.999984375 9.00042188,1.44801562 9.00042188,2.00001562 L9.00042188,3.99998437 C9.00042188,4.27598438 8.77640625,4.5 8.50040625,4.5 C8.22440625,4.5 8.0004375,4.27598438 8.0004375,3.99998437 L8.0004375,2.00001562 C8.0004375,0.897 8.8974375,0 10.0004063,0 C11.1034219,0 12.0004219,0.897 12.0004219,2.00001562 L12.0004219,3.99998437 C12.0004219,4.27598438 11.7764063,4.5 11.5004063,4.5"
                                    id="Fill-4" fill="#FFFFFF"></path>
                                <path
                                    d="M10.0004063,24 C8.6214375,24 7.50042188,22.8789844 7.50042188,21.5000156 C7.50042188,21.0579844 7.61742187,20.625 7.8384375,20.247 C7.97840625,20.0090156 8.2824375,19.9310156 8.52342188,20.0679844 C8.76140625,20.208 8.84142187,20.514 8.7024375,20.7530156 C8.57240625,20.9739844 8.5014375,21.2390156 8.5014375,21.5000156 C8.5014375,22.3269844 9.17442188,23.0000156 10.0014375,23.0000156 C10.8284063,23.0000156 11.5014375,22.3269844 11.5014375,21.5000156 C11.5014375,21.2390156 11.4304219,20.9739844 11.3004375,20.7530156 C11.1604219,20.5149844 11.2404375,20.208 11.4794063,20.0679844 C11.7184219,19.9310156 12.0234375,20.0090156 12.1644375,20.247 C12.3854062,20.625 12.5024062,21.0579844 12.5024062,21.5000156 C12.5004375,22.8789844 11.3794219,24 10.0004063,24"
                                    id="Fill-5" fill="#FFFFFF"></path>
                                <circle id="Oval-Copy-2" fill="#F67248" cx="17" cy="12" r="5"></circle>
                            </g>
                        </g>
                    </g>
                </svg>
            </li>
            <li class="nav-item">
                <svg width="24px" class="ml-4" height="24px" viewBox="0 0 24 24" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
                    <title>user (1)</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <polygon id="path-1"
                            points="0.00350364964 0.0233576642 23.918365 0.0233576642 23.918365 23.9417226 0.00350364964 23.9417226">
                        </polygon>
                    </defs>
                    <g id="Developer-Test" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="06-Accops-User-Listing" transform="translate(-1123.000000, -23.000000)">
                            <g id="User-Info" transform="translate(1123.000000, 23.000000)">
                                <g id="user-(1)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <path
                                        d="M20.4155912,3.52607299 C18.1567299,1.26744526 15.1535182,0.0233576642 11.9591825,0.0233576642 C8.76484672,0.0233576642 5.76140146,1.26744526 3.50271533,3.52607299 C1.24408759,5.78475912 0,8.78820438 0,11.9825401 C0,15.1768759 1.24408759,18.1800876 3.50271533,20.4389489 C5.76140146,22.697635 8.76484672,23.9417226 11.9591825,23.9417226 C15.1535182,23.9417226 18.1567299,22.697635 20.4155912,20.4389489 C22.6742774,18.1800876 23.918365,15.1768759 23.918365,11.9825401 C23.918365,8.78820438 22.6742774,5.78475912 20.4155912,3.52607299 Z M5.19024818,20.078073 C5.58528467,16.680292 8.50662774,14.0568759 11.9591825,14.0568759 C13.7792117,14.0568759 15.4906277,14.766073 16.7780438,16.0532555 C17.865635,17.1410803 18.5515328,18.5612263 18.7281168,20.0778978 C16.8941314,21.6138978 14.5328467,22.5402628 11.9591825,22.5402628 C9.38551825,22.5402628 7.02417518,21.6141314 5.19024818,20.078073 Z M11.9591825,12.6134307 C9.95643796,12.6134307 8.32689051,10.9838832 8.32689051,8.98113869 C8.32689051,6.97821898 9.95643796,5.34884672 11.9591825,5.34884672 C13.961927,5.34884672 15.5914745,6.97821898 15.5914745,8.98113869 C15.5914745,10.9838832 13.961927,12.6134307 11.9591825,12.6134307 Z M19.9343066,18.8933139 C19.5771095,17.4535474 18.8325839,16.1260146 17.7689343,15.062365 C16.9076204,14.2010511 15.8887007,13.5548613 14.7773431,13.1499562 C16.1133431,12.2439124 16.9929343,10.7133431 16.9929343,8.98113869 C16.9929343,6.20560584 14.7347153,3.94738686 11.9591825,3.94738686 C9.18364964,3.94738686 6.92543066,6.20560584 6.92543066,8.98113869 C6.92543066,10.7142774 7.80566423,12.2455474 9.14277372,13.1512993 C8.12023358,13.5237956 7.1740146,14.0999708 6.35994161,14.8584526 C5.18113869,15.9563212 4.36268613,17.3559124 3.98312409,18.8922044 C2.37547445,17.0391241 1.40145985,14.622365 1.40145985,11.9825401 C1.40145985,6.16087591 6.13751825,1.42481752 11.9591825,1.42481752 C17.7805547,1.42481752 22.5169051,6.16087591 22.5169051,11.9825401 C22.5169051,14.6230657 21.5424234,17.0402336 19.9343066,18.8933139 Z"
                                        id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="iconText" style="color: white">John Smith</span>
            </li>
            <li class="nav-item">
                <img class="ml-4" src="/images/ico_downarrow.svg">
            </li>
        </ul>
    </nav>

    <div id="bodyContent" class="container" style="margin-top: 20px;">

    </div>

</body>

</html>